<%= standard_edition_form(edition) do |form| %>
  <fieldset>
    <legend>Associations</legend>
    <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'appointment_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'world_location_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'topical_event_fields', locals: { form: form, edition: edition } %>
  </fieldset>

  <fieldset class="translations">
    <legend>Translations</legend>
    <%= form.fields_for :translated_attributes do |ta| %>
      <div class="<%= ta.object.attribute_name %> translation">
        <%= ta.select :locale, [["Spanish", "es-ES"], ["French", "fr-FR"]] %>
        <%= ta.text_field :attribute_name %>
        <%= ta.text_area :translation %>
      </div>
    <% end %>
  </fieldset>

  <%= render partial: 'first_published_at', locals: { form: form, edition: edition } %>
<% end %>
