<h3>Bulk uploader</h3>
<form id='fileupload' method="POST" enctype='multipart/formdata'>
  <div class="fileupload-buttonbar">
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Add files...</span>
        <%= file_field_tag "bulk_upload[]", "data-url" => "/foo", multiple: true %>
    </span>
    <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
    </button>

    <div id="bulk-file-upload"/>
  </div>
</form>

<%= standard_edition_form(edition) do |form| %>
  <fieldset>
    <%= form.label :publication_date %>
    <%= form.date_select :publication_date, { start_year: 1997 }, { :class => "date" } %>
  </fieldset>

  <%= render partial: 'attachment_fields', locals: { form: form, edition: edition, parent_type: :edition, show_inline_attachment_help: edition.allows_inline_attachments? } %>

  <fieldset>
    <legend>Associations</legend>
    <%= render partial: 'related_policy_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'organisation_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'document_series_fields', locals: { form: form, edition: edition } %>
    <%= render partial: 'minister_fields', locals: { form: form, edition: edition } %>
    <%= render partial: "country_fields", locals: { form: form, edition: edition } %>
  </fieldset>

  <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
<% end %>
